.coolbutton {
    background-color: #4CAF50;
    border: none; 
    color: white; 
    padding: 5px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 12px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 12px; 
    transition: background-color 0.3s ease;
}

.coolbutton:hover {
    background-color: #45a049; 
}


.coolinput {
    width: 250px;
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
    outline: none;
}

.coolinput:focus {
    border-color: #4CAF50;
}
